.NavBar {
    /* background-color: rgb(171, 166, 166); */
    background: #455a64;
    display: flex;
    justify-content: space-around;
    min-height: 3;
    color: white;
    align-items: center;
}

.logo {
    color: #64dd17;
    direction: row;
    display: flex;
    align-items: center;    

}

a:link {
    text-decoration: none;
}

.nav-links {
    text-emphasis-color: orange;
    color: white;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.link {
    color: white;
}